*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#main-header{
    background-color: rgba(97, 97, 97, 0.281);
    height: 50px;
}

#main-header span {
    color: rgb(0, 0, 0);
}

#subitulo{
    float: right;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

body{
    background: linear-gradient(to right, rgba(83, 83, 83, 0.459), rgba(85, 85, 85, 0.5));
}

#pie{
    text-align: right;
    background-color:rgba(39, 39, 75, 0.616);
    color:rgba(253, 253, 255, 0.753);
    width: 100%;
    height: 30px;
}

#cabezera-cuerpo li{
    display: inline;
    padding-left: 25px;
    padding-right: 20px;
    float: right ;

}

#img-base{
    float: left;
    padding-left: 25px;
    width: 50px;
    height: 50px;
}

.img-portada{
    padding-top: 25px;
    width: 100%;
    height: 200px;
    padding-right: 10%;
}

.segunda-seccion{
    display: flex;
    background-color:rgba(30, 56, 112, 0.699);
    justify-content: center;
    padding-right: 20px;
    
}


.fomulario-contenedor {
    display: flex;
    justify-content: center;
    background-color: yellow;
    
    
}
.columna {
    padding: 10px;
    margin: 80px 120px;      
    background-color: red;
    
}

input{
    margin-left: 15px; margin-top: 0px; width: 80%;
}

.reg-canc{
    background-color: cornflowerblue;
    float: right;
    margin-bottom: 20px;
    margin-top: -5px;
    width: 80px;
    height: 50px;
}

#prueba{
    color:blue;

}