*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-header{
    background-color: rgba(97, 97, 97, 0.281);
    height: 50px;
}

#main-header span {
    color: rgb(0, 0, 0);
}

#subitulo{
    float: right;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

body{
    background: linear-gradient(to right, rgba(83, 83, 83, 0.459), rgba(85, 85, 85, 0.5));
}

#pie{
    text-align: right;
    background-color:rgba(39, 39, 75, 0.616);
    color:rgba(253, 253, 255, 0.753);
    width: 100%;
    height: 30px;
}

#cabezera-cuerpo li{
    display: inline;
    padding-left: 25px;
    padding-right: 20px;
    float: right ;

}

#img-base{
    float: left;
    padding-left: 25px;
    width: 50px;
    height: 50px;
}

.img-portada{
    padding-top: 25px;
    width: 100%;
    height: 200px;
    
    padding-right: 10%;
}

.segunda-seccion{
    padding-left: 25px;
    background-color:rgba(30, 56, 112, 0.699);
}


.fomulario-contenedor {
    display: flex;
    align-items: center;
    
    
  }
.columna {
    text-align: center;
    flex:auto;    
    
}
input{
    margin-left: 50px;
    justify-content: right;
    flex:auto;
    
}    


.boton-registro {
    
    float: right;
    height: 35px;
    width: 100px;
    
}
